body {
    margin: 0;
    padding: 5;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(138, 52, 151);
}

.login-form {
    width: 100%;
    text-align: center;
}