body {
    margin: 0;
    padding: 5;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(138, 52, 151);
}

.login-form, .welcome-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.login-form h2, .welcome-form h2 {
    color: white;
    margin-bottom: 75px;
}

.login-form input {
    width: 25%;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
}

.login-form button {
    width: 15%;
    padding: 3px;
    margin-top: 10px;
    background-color: black;
    color: white;
}

.login-form button:hover {
    background-color: rgb(138, 52, 151);
    
}